<a href="https://colab.research.google.com/github/woodword-0/ML-Projects/blob/main/SimpleLinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statistics as stat
from scipy import stats
import seaborn as sns; sns.set_theme()
missing_values = ['NA','n/a',"",'','N/A','None','none','NONE','n.a.','?','Nan','nan','NaN']
df = pd.read_csv('/content/raw_house_data.csv', na_values = missing_values)

#replace all instances of "None" with zero
#df = df.replace("None", 0)
#Columns with missing values
nan_col = []
for col in df.head():
    nan = df[col].isnull().values.any()
    if nan == True:
        nan_col.append(col)
print(nan_col)
#replace all instances of "None" with zero
#df1 = df.replace("missing_values", 0)

In [ ]:
df.to_numpy()



```
# This is formatted as code
```

Cleaning Data

In [ ]:
#Drop Nan in Column
df = df[df['floor_covering'].notna()]
#Frequency encoding value counts to replace kitchen features
df['floor_covering'] = df['floor_covering'].map(df['floor_covering'].value_counts())

In [ ]:

#Drop Nan in Column
df = df[df['kitchen_features'].notna()]
#Frequency encoding value counts to replace kitchen features
df['kitchen_features'] = df['kitchen_features'].map(df['kitchen_features'].value_counts())

In [ ]:
#Fill in missing values with 0
df['bathrooms'] = df['bathrooms'].fillna(0)
df['garage'] = df['garage'].fillna(0)
df['HOA'] = df['HOA'].fillna(0)

In [ ]:
#Fill in by the mean
df['sqrt_ft'] = df['sqrt_ft'].fillna(df['sqrt_ft'].mean())
df['lot_acres'] = df['lot_acres'].fillna(df['lot_acres'].mean())

In [ ]:
# df.drop(df[df['latitude'] > 33].index, inplace = True)
# df.drop(df[df['longitude'] < -112].index, inplace = True)
# df.drop(df[df['longitude'] > -110].index, inplace = True)

In [ ]:
#Columns with missing values
nan_col = []
for col in df.head():
    nan = df[col].isnull().values.any()
    if nan == True:
        nan_col.append(col)
print(nan_col)



```
`# This is formatted as code`
```

Feature Engineering

In [ ]:
#Calculating Distances
A = []
for i in df['latitude'].index:
  A.append((np.sqrt((df['latitude'].mean() - df['latitude'][i])**2 + (df['longitude'].mean() - df['longitude'][i])**2)))

In [ ]:
#Assigning a distances column to the dataframe
df = df.assign(distances = A)
df = df.assign(distances_raw = A)
df = df.assign(distance_bins = A)

In [ ]:
#bining the distances
# bin_labels_5 = ['1','2','3','4','5','6','7','8']
# pd.cut(df['distances'], bins=5)
# df = df.assign(distance_bins = A)

In [ ]:
# #Using the bins to bin location
# df1 = df.loc[df['distances'] > 0.143, 'latitude'] = 1
# df2 = df.loc[df['distances'] > 0.143, 'longitude'] = 1
# df3 = df.loc[df['distances'] > 0.284, 'latitude'] = 2
# df4 = df.loc[df['distances'] > 0.284, 'longitude'] = 2
# df5 = df.loc[df['distances'] > 0.426, 'latitude'] = 3
# df6 = df.loc[df['distances'] > 0.426, 'longitude'] = 3
# df7 = df.loc[df['distances'] > 0.567, 'latitude'] = 4
# df8 = df.loc[df['distances'] > 0.567, 'longitude'] = 4
# df9 = df.loc[df['distances'] > 0.709, 'latitude'] = 5
# df10 = df.loc[df['distances'] > 0.709, 'longitude'] = 5
# df11 = df.loc[df['distances'] > 0.85, 'latitude'] = 6
# df12 = df.loc[df['distances'] > 0.85, 'longitude'] = 6
# df13 = df.loc[df['distances'] > 0.991, 'latitude'] = 7
# df14 = df.loc[df['distances'] > 0.991, 'longitude'] = 7
# # df15 = df.loc[df['distances'] > 0.57, 'latitude']
# # df16 = df.loc[df['distances'] > 0.57, 'longitude']
# # df17 = df.loc[df['distances'] > 0.68, 'latitude']
# # df18 = df.loc[df['distances'] > 0.68, 'longitude']

In [ ]:
#categorizing the tax bin by government income bracket
bin_labels_7 = ['1','2','3','4','5','6','7']
bins = [0,2000,5000,8000,20000,40125,85525,12215075]
tax_bins = pd.cut(df['taxes'], bins, labels = bin_labels_7,include_lowest=True)
df = df.assign(tax_bracket = tax_bins)
bin_labels_5 = ['1','2','3','4','5']
bin_labels_c = ['r','m','c','b','g']

df['distances'] = pd.cut(df['distances'], bins = 5, labels = bin_labels_5)
df['distance_bins'] = pd.cut(df['distance_bins'], bins = 5, labels = bin_labels_c)

In [ ]:
bin1 = df.loc[df['tax_bracket'] == '1','tax_bracket'] 
bin2 = df.loc[df['tax_bracket'] == '2','tax_bracket']
bin3 = df.loc[df['tax_bracket'] == '3','tax_bracket']
bin4 = df.loc[df['tax_bracket'] == '4','tax_bracket']
bin5 = df.loc[df['tax_bracket'] == '5','tax_bracket']
bin6 = df.loc[df['tax_bracket'] == '6','tax_bracket']
bin7 = df.loc[df['tax_bracket'] == '7','tax_bracket']

In [ ]:
tax_bracket1 = []
for i in df['taxes'].index:
  if df['taxes'][i] <= 9875:
    tax_bracket1.append(df['taxes'][i])

In [ ]:
bin1 = df.loc[df['tax_bracket'] == '1','taxes']
bin2 = df.loc[df['tax_bracket'] == '2','taxes']
bin3 = df.loc[df['tax_bracket'] == '3','taxes']
bin4 = df.loc[df['tax_bracket'] == '4','taxes']
bin5 = df.loc[df['tax_bracket'] == '5','taxes']
bin6 = df.loc[df['tax_bracket'] == '6','taxes']
bin7 = df.loc[df['tax_bracket'] == '7','taxes']

In [ ]:
#Returns a list of tax brackets for each location
locator1 = df.loc[df['distances'] == '1','tax_bracket'] #All tax brackets in location 1
locator2 = df.loc[df['distances'] == '2','tax_bracket']
locator3 = df.loc[df['distances'] == '3','tax_bracket']
locator4 = df.loc[df['distances'] == '4','tax_bracket']
locator5 = df.loc[df['distances'] == '5','tax_bracket']
# locator6 = df.loc[df['distances'] == '6','tax_bracket']
# locator7 = df.loc[df['distances'] == '7','tax_bracket']
# locator8 = df.loc[df['distances'] == '8','tax_bracket']
# locator9 = df.loc[df['distances'] == '9','tax_bracket']
# locator10 = df.loc[df['distances'] == '10','tax_bracket']

In [ ]:
#Adds columns
df = df.assign(bracket_1 = locator1) #For i = 1,2,3,4,5 column contains all tax brackets for that location.
df = df.assign(bracket_2 = locator2)
df = df.assign(bracket_3 = locator3)
df = df.assign(bracket_4 = locator4)
df = df.assign(bracket_5 = locator5)
# df = df.assign(bracket_6 = locator6) #For i = 1,2,3,4,5 column contains all tax brackets for that i.
# df = df.assign(bracket_7 = locator7)
# df = df.assign(bracket_8 = locator8)
# df = df.assign(bracket_9 = locator9)
# df = df.assign(bracket_10 = locator10)

In [ ]:
#Add empty category zero for imputing
df['bracket_1'] = df['bracket_1'].cat.add_categories(0)
df['bracket_2'] = df['bracket_2'].cat.add_categories(0)
df['bracket_3'] = df['bracket_3'].cat.add_categories(0)
df['bracket_4'] = df['bracket_4'].cat.add_categories(0)
df['bracket_5'] = df['bracket_5'].cat.add_categories(0)
# df['bracket_6'] = df['bracket_6'].cat.add_categories(0)
# df['bracket_7'] = df['bracket_7'].cat.add_categories(0)
# df['bracket_8'] = df['bracket_8'].cat.add_categories(0)
# df['bracket_9'] = df['bracket_9'].cat.add_categories(0)
# df['bracket_10'] = df['bracket_10'].cat.add_categories(0)

In [ ]:
#Change to float or int
df['distances'] = df['distances'].astype('int')
df['bracket_1'] = df['bracket_1'].fillna(0).astype('int')
df['bracket_2'] = df['bracket_2'].fillna(0).astype('int')
df['bracket_3'] = df['bracket_3'].fillna(0).astype('int')
df['bracket_4'] = df['bracket_4'].fillna(0).astype('int')
df['bracket_5'] = df['bracket_5'].fillna(0).astype('int')
df['distances'] = df['distances'].astype('int')
# df['bracket_6'] = df['bracket_6'].fillna(0).astype('int')
# df['bracket_7'] = df['bracket_7'].fillna(0).astype('int')
# df['bracket_8'] = df['bracket_8'].fillna(0).astype('int')
# df['bracket_9'] = df['bracket_9'].fillna(0).astype('int')
# df['bracket_10'] = df['bracket_10'].fillna(0).astype('int')
df['tax_bracket'] = df['tax_bracket'].astype('int')

In [ ]:
#Replaces value with appropriate taxbracket by location
df.loc[df['bracket_1'] == 1, 'distances'] = 11
df.loc[df['bracket_1'] == 2, 'distances'] = 12
df.loc[df['bracket_1'] == 3, 'distances'] = 13
df.loc[df['bracket_1'] == 4, 'distances'] = 14
df.loc[df['bracket_1'] == 5, 'distances'] = 15
df.loc[df['bracket_1'] == 6, 'distances'] = 16
df.loc[df['bracket_1'] == 7, 'distances'] = 17 #location 1 bracket 7
# df.loc[df['bracket_1'] == 8, 'distances'] = 18
# df.loc[df['bracket_1'] == 9, 'distances'] = 19
# df.loc[df['bracket_1'] == 10, 'distances'] = 110

In [ ]:
df.loc[df['bracket_2'] == 1, 'distances'] = 21
df.loc[df['bracket_2'] == 2, 'distances'] = 22
df.loc[df['bracket_2'] == 3, 'distances'] = 23
df.loc[df['bracket_2'] == 4, 'distances'] = 24
df.loc[df['bracket_2'] == 5, 'distances'] = 25
df.loc[df['bracket_2'] == 6, 'distances'] = 26
df.loc[df['bracket_2'] == 7, 'distances'] = 27
# df.loc[df['bracket_2'] == 8, 'distances'] = 28

In [ ]:
df.loc[df['bracket_3'] == 1, 'distances'] = 31
df.loc[df['bracket_3'] == 2, 'distances'] = 32
df.loc[df['bracket_3'] == 3, 'distances'] = 33
df.loc[df['bracket_3'] == 4, 'distances'] = 34
df.loc[df['bracket_3'] == 5, 'distances'] = 35
df.loc[df['bracket_3'] == 6, 'distances'] = 36
df.loc[df['bracket_3'] == 7, 'distances'] = 37
# df.loc[df['bracket_3'] == 8, 'distances'] = 38

In [ ]:
df.loc[df['bracket_4'] == 1, 'distances'] = 41
df.loc[df['bracket_4'] == 2, 'distances'] = 42
df.loc[df['bracket_4'] == 3, 'distances'] = 43
df.loc[df['bracket_4'] == 4, 'distances'] = 44
df.loc[df['bracket_4'] == 5, 'distances'] = 45
df.loc[df['bracket_4'] == 6, 'distances'] = 46
df.loc[df['bracket_4'] == 7, 'distances'] = 47
# df.loc[df['bracket_4'] == 8, 'distances'] = 48

In [ ]:
df.loc[df['bracket_5'] == 1, 'distances'] = 51
df.loc[df['bracket_5'] == 2, 'distances'] = 52
df.loc[df['bracket_5'] == 3, 'distances'] = 53
df.loc[df['bracket_5'] == 4, 'distances'] = 54
df.loc[df['bracket_5'] == 5, 'distances'] = 55
df.loc[df['bracket_5'] == 6, 'distances'] = 56
df.loc[df['bracket_5'] == 7, 'distances'] = 57
# df.loc[df['bracket_5'] == 8, 'distances'] = 58

In [ ]:
# df.loc[df['bracket_6'] == 1, 'distances'] = 61
# df.loc[df['bracket_6'] == 2, 'distances'] = 62
# df.loc[df['bracket_6'] == 3, 'distances'] = 63
# df.loc[df['bracket_6'] == 4, 'distances'] = 64
# df.loc[df['bracket_6'] == 5, 'distances'] = 65
# df.loc[df['bracket_6'] == 6, 'distances'] = 66
# df.loc[df['bracket_6'] == 7, 'distances'] = 67
# df.loc[df['bracket_6'] == 8, 'distances'] = 68

In [ ]:
# df.loc[df['bracket_7'] == 1, 'distances'] = 71
# df.loc[df['bracket_7'] == 2, 'distances'] = 72
# df.loc[df['bracket_7'] == 3, 'distances'] = 73
# df.loc[df['bracket_7'] == 4, 'distances'] = 74
# df.loc[df['bracket_7'] == 5, 'distances'] = 75
# df.loc[df['bracket_7'] == 6, 'distances'] = 76
# df.loc[df['bracket_7'] == 7, 'distances'] = 77
# df.loc[df['bracket_7'] == 8, 'distances'] = 78

In [ ]:
# df.loc[df['bracket_8'] == 1, 'distances'] = 81
# df.loc[df['bracket_8'] == 2, 'distances'] = 82
# df.loc[df['bracket_8'] == 3, 'distances'] = 83
# df.loc[df['bracket_8'] == 4, 'distances'] = 84
# df.loc[df['bracket_8'] == 5, 'distances'] = 85
# df.loc[df['bracket_8'] == 6, 'distances'] = 86
# df.loc[df['bracket_8'] == 7, 'distances'] = 87
# df.loc[df['bracket_8'] == 8, 'distances'] = 88

In [ ]:
# df.loc[df['bracket_9'] == 1, 'distances'] = 91
# df.loc[df['bracket_9'] == 2, 'distances'] = 92
# df.loc[df['bracket_9'] == 3, 'distances'] = 93
# df.loc[df['bracket_9'] == 4, 'distances'] = 94
# df.loc[df['bracket_9'] == 5, 'distances'] = 95

In [ ]:
# df.loc[df['bracket_10'] == 1, 'distances'] = 101
# df.loc[df['bracket_10'] == 2, 'distances'] = 102
# df.loc[df['bracket_10'] == 3, 'distances'] = 103
# df.loc[df['bracket_10'] == 4, 'distances'] = 104
# df.loc[df['bracket_10'] == 5, 'distances'] = 105

In [ ]:
#Columns with missing values
nan_col = []
for col in df.head():
    nan = df[col].isnull().values.any()
    if nan == True:
        nan_col.append(col)
print(nan_col)

[]

Normalizing

In [ ]:
df['sold_price'] = df.apply(lambda x: x['sold_price']/x['sqrt_ft'], axis=1)

In [ ]:
df['year_built'] = 2021 - df['year_built']
df['MLS']=(df['MLS']-df['MLS'].min())/(df['MLS'].max()-df['MLS'].min())
df['zipcode']=(df['zipcode']-df['zipcode'].min())/(df['zipcode'].max()-df['zipcode'].min())
df['sold_price']=(df['sold_price']-df['sold_price'].min())/(df['sold_price'].max()-df['sold_price'].min())
# df['latitude']=(df['latitude']-df['latitude'].min())/(df['latitude'].max()-df['latitude'].min())
# df['longitude']=(df['longitude']-df['longitude'].min())/(df['longitude'].max()-df['longitude'].min())
df['taxes']=(df['taxes']-df['taxes'].min())/(df['taxes'].max()-df['taxes'].min())
df['year_built']=(df['year_built']-df['year_built'].min())/(df['year_built'].max()-df['year_built'].min())
df['bedrooms']=(df['bedrooms']-df['bedrooms'].min())/(df['bedrooms'].max()-df['bedrooms'].min())
df['bathrooms']=(df['bathrooms']-df['bathrooms'].min())/(df['bathrooms'].max()-df['bathrooms'].min())
df['garage']=(df['garage']-df['garage'].min())/(df['garage'].max()-df['garage'].min())
df['kitchen_features']=(df['kitchen_features']-df['kitchen_features'].min())/(df['kitchen_features'].max()-df['kitchen_features'].min())
df['floor_covering']=(df['floor_covering']-df['floor_covering'].min())/(df['floor_covering'].max()-df['floor_covering'].min())
df['tax_bracket']=(df['tax_bracket']-df['tax_bracket'].min())/(df['tax_bracket'].max()-df['tax_bracket'].min())
df['bracket_1']=(df['bracket_1']-df['bracket_1'].min())/(df['bracket_1'].max()-df['bracket_1'].min())
df['bracket_2']=(df['bracket_2']-df['bracket_2'].min())/(df['bracket_2'].max()-df['bracket_2'].min())
df['bracket_3']=(df['bracket_3']-df['bracket_3'].min())/(df['bracket_3'].max()-df['bracket_3'].min())
df['bracket_4']=(df['bracket_4']-df['bracket_4'].min())/(df['bracket_4'].max()-df['bracket_4'].min())
df['bracket_5']=(df['bracket_5']-df['bracket_5'].min())/(df['bracket_5'].max()-df['bracket_5'].min())
df['sqrt_ft']=(df['sqrt_ft']-df['sqrt_ft'].min())/(df['sqrt_ft'].max()-df['sqrt_ft'].min())

In [ ]:
q1 = df.zipcode.quantile(0.05)
def app(x):
  if x < q1:
    return q1
  else:
    return x
q2 = df.zipcode.quantile(0.95)
def app1(x):
  if x > q2:
    return q2
  else:
    return x
df["zipcode"] = df.zipcode.apply(app)
df["zipcode"] = df.zipcode.apply(app1)
v1 = df.year_built.quantile(0.05)
def cut(x):
  if x < v1:
    return v1
  else:
    return x
v2 = df.year_built.quantile(0.95)
def cut1(x):
  if x > v2:
    return v2
  else:
    return x
df["year_built"] = df.year_built.apply(cut)
df["year_built"] = df.year_built.apply(cut1)

In [ ]:
q1 = df.sold_price.quantile(0.05)
def app(x):
  if x < q1:
    return q1
  else:
    return x
q2 = df.sold_price.quantile(0.95)
def app1(x):
  if x > q2:
    return q2
  else:
    return x
df["sold_price"] = df.sold_price.apply(app)
df["sold_price"] = df.sold_price.apply(app1)

In [ ]:
q1 = df.garage.quantile(0.05)
def app(x):
  if x < q1:
    return q1
  else:
    return x
q2 = df.garage.quantile(0.95)
def app1(x):
  if x > q2:
    return q2
  else:
    return x
df["garage"] = df.garage.apply(app)
df["garage"] = df.garage.apply(app1)
# v1 = df2.HOA.quantile(0.05)
# def cut(x):
#   if x < v1:
#     return v1
#   else:
#     return x
# v2 = df2.HOA.quantile(0.95)
# def cut1(x):
#   if x > v2:
#     return v2
#   else:
#     return x
# df2["HOA"] = df2.HOA.apply(cut)
# df2["HOA"] = df2.HOA.apply(cut1)

In [ ]:
q1 = df.sqrt_ft.quantile(0.05)
def app(x):
  if x < q1:
    return q1
  else:
    return x
q2 = df.sqrt_ft.quantile(0.95)
def app1(x):
  if x > q2:
    return q2
  else:
    return x
df["sqrt_ft"] = df.sqrt_ft.apply(app)
df["sqrt_ft"] = df.sqrt_ft.apply(app1)
v1 = df.lot_acres.quantile(0.05)
def cut(x):
  if x < v1:
    return v1
  else:
    return x
v2 = df.lot_acres.quantile(0.95)
def cut1(x):
  if x > v2:
    return v2
  else:
    return x
df["lot_acres"] = df.lot_acres.apply(cut)
df["lot_acres"] = df.lot_acres.apply(cut1)

In [ ]:
b1 = df.bedrooms.quantile(0.05)
def bed(x):
  if x < b1:
    return b1
  else:
    return x
df["bedrooms"] = df.bedrooms.apply(bed)
b2 = df.bedrooms.quantile(0.95)
def bed1(x):
  if x > b2:
    return b2
  else:
    return x
df["bedrooms"] = df.bedrooms.apply(bed)
df["bedrooms"] = df.bedrooms.apply(bed1)

In [ ]:
c1 = df.bathrooms.quantile(0.05)
def bath(x):
  if x < c1:
    return c1
  else:
    return x
c2 = df.bathrooms.quantile(0.95)
def bath1(x):
  if x > c2:
    return c2
  else:
    return x
df["bathrooms"] = df.bathrooms.apply(bath)
df["bathrooms"] = df.bathrooms.apply(bath1)

In [ ]:
# q1 = df.longitude.quantile(0.05)
# def app(x):
#   if x < q1:
#     return q1
#   else:
#     return x
# q2 = df.longitude.quantile(0.95)
# def app1(x):
#   if x > q2:
#     return q2
#   else:
#     return x
# df["longitude"] = df.longitude.apply(app)
# df["longitude"] = df.longitude.apply(app1)
# v1 = df.latitude.quantile(0.05)
# def cut(x):
#   if x < v1:
#     return v1
#   else:
#     return x
# v2 = df.latitude.quantile(0.95)
# def cut1(x):
#   if x > v2:
#     return v2
#   else:
#     return x
# df["latitude"] = df.latitude.apply(cut)
# df["latitude"] = df.latitude.apply(cut1)

In [ ]:
#shuffles the data
df.sample(frac=1)
df.head()

        MLS  sold_price   zipcode  ...  bracket_3  bracket_4  bracket_5
0  0.978922    0.240456  0.434025  ...        0.0        0.0        0.0
1  0.978847    0.240456  0.438174  ...        0.0        0.0        0.0
2  0.000626    0.240456  0.438174  ...        0.0        0.0        0.0
3  0.999511    0.240456  0.438174  ...        0.0        0.0        0.0
4  0.967054    0.240456  0.524481  ...        0.0        0.0        0.0

[5 rows x 25 columns]

c

Classifier

In [ ]:
df1 = df[['distances','bedrooms','bathrooms','zipcode','year_built']]   #df1 = df[['distances','sold_price','lot_acres','sqrt_ft','year_built','zipcode']]

In [ ]:
distances_11 = df.loc[df['distances'] == 11,'distances']
# bedrooms_11 = df.loc[df['distances'] == 11, 'bedrooms']
# bathrooms_11 = df.loc[df['distances'] == 11, 'bathrooms']
zipcode_11 = df.loc[df['distances'] == 11, 'zipcode']
year_built_11 = df.loc[df['distances'] == 11, 'year_built']
# #match new indices
distances_11.reset_index(drop=True, inplace=True)
# bedrooms_11.reset_index(drop=True, inplace=True)
# bathrooms_11.reset_index(drop=True, inplace=True)
zipcode_11.reset_index(drop=True, inplace=True)
year_built_11.reset_index(drop=True, inplace=True)
df11_class = pd.concat([distances_11,bedrooms_11,bathrooms_11], axis = 1)

In [ ]:
nan_col = []
for col in df11_class.head():
    nan = df11_class[col].isnull().values.any()
    if nan == True:
        nan_col.append(col)
print(nan_col)

In [ ]:
distances_11.shape

In [ ]:
df11_class.head()

In [ ]:
df1['distances'].value_counts()

In [ ]:
X1_train = df11_class.iloc[:,1:].to_numpy()
y1_train = df11_class.iloc[:,0].to_numpy()
# X1_test =  df1.iloc[3963:4458,1:].to_numpy()
# y1_test = df1.iloc[3963:4458,0].to_numpy()
# X1_validate =  df1.iloc[4458:4954,1:].to_numpy()
# y1_validate = df1.iloc[4458:4954,0].to_numpy()

In [ ]:
bin_labels_c = ['r','m','c','b','g']

In [ ]:
#ax =  df.scatter(x = 'latitude', y = 'longitude',style='o',c =A,figsize=(20, 20))
# plt.figure(figsize=(20, 10), dpi=80)
# plt.scatter(x = df['latitude'], y = df['longitude'],c = list(df['distance_bins']), alpha = 0.5, s = 200, marker = 's')
# plt.title('IncomeTax based on distance')
# plt.xlim([10.0, 60.0])
# plt.ylim([-112,-110])

In [ ]:
class KNNClassifier():
  def fit(self, X, y):
    self.X = X
    self.y = y
  def predict(self, X, K, epsilon = 1e-8):
    N = len(X)
    y_hat = np.zeros(N)

    for i in range(N):
      dist2 = np.sum((self.X-X[i])**2, axis = 1)
      idxt = np.argsort(dist2)[:K]
      gamma_k = 1/(np.sqrt(dist2[idxt])+epsilon)
      y_hat[i] = np.bincount(self.y[idxt], weights = gamma_k).argmax()

    return y_hat

In [ ]:
import time
start_time = time.time()
knn = KNNClassifier()
knn.fit(X1_train,y1_train)
print("--- %s seconds ---" % (time.time() - start_time))

--- 0.00011157989501953125 seconds ---

In [ ]:
start_time = time.time()
y1_hat = knn.predict(X1_train,1000)
print("--- %s seconds ---" % (time.time() - start_time))

--- 0.012314558029174805 seconds ---

In [ ]:

def accuracyKNN(y_train,y_hat):
    return np.mean(y1_train == y1_hat)

In [ ]:
print(accuracyKNN(y1_train ,y1_hat))

In [ ]:
y1_hat = pd.Series(y1_hat, name = 'y1_hat')
y1_hat.reset_index(drop=True, inplace=True)

In [ ]:

distances_raw_11 = df.loc[df['distances'] == 11, 'distances_raw']
sold_price_11 = df.loc[df['distances'] == 11, 'bedrooms']
sqrt_ft_11 = df.loc[df['distances'] == 11, 'bathrooms']

#match new indices
distances_raw_11.reset_index(drop=True, inplace=True)
sold_price_11.reset_index(drop=True, inplace=True)
sqrt_ft_11.reset_index(drop=True, inplace=True)
df11_regress = pd.concat([distances_raw_11,sold_price_11,sqrt_ft_11, y1_hat], axis = 1)

In [ ]:
df11_regress.head()

In [ ]:
# A = df['distances_raw']
# B = df['sold_price']
# C = df['sqrt_ft']
# # B = df['bedrooms']
# # C = df['bathrooms']
# D = pd.Series(y1_hat, name = 'y1_hat')
# # E = df['sqrt_ft']
# # F = df['fireplaces'].astype('int')
# A.reset_index(drop=True, inplace=True)
# B.reset_index(drop=True, inplace=True)
# C.reset_index(drop=True, inplace=True)
# D.reset_index(drop=True, inplace=True)
# # E.reset_index(drop=True, inplace=True)
# # F.reset_index(drop=True, inplace=True)
# df2 = pd.concat([A,B,C,D], axis = 1)

In [ ]:
df11_regress.shape

(227, 4)

In [ ]:
X_train = df11_regress.iloc[:181,1:].to_numpy()

y_train = df11_regress.iloc[:181,0].to_numpy()
X_test =  df11_regress.iloc[181:204,1:].to_numpy()
y_test = df11_regress.iloc[181:204,0].to_numpy()
X_validate =  df11_regress.iloc[204:227,1:].to_numpy()
y_validate = df11_regress.iloc[204:227,0].to_numpy()
# X_train = df2.iloc[:3963,1:].to_numpy()

# y_train = df2.iloc[:3963,0].to_numpy()
# X_test =  df2.iloc[3963:4458,1:].to_numpy()
# y_test = df2.iloc[3963:4458,0].to_numpy()
# X_validate =  df2.iloc[4458:4954,1:].to_numpy()
# y_validate = df2.iloc[4458:4954,0].to_numpy()

In [ ]:
class KNNRegressor():

  def fit(self,X,y):
    self.X = X
    self.y = y
  def predict(self,X,K, epsilon = 1e-10):
    N = len(X)
    y_hat = np.zeros(N) #empty y_hat same size as X

    #count everything within a certain distance
    for i in range(N):
      dist2 = np.sum((self.X - X[i])**2, axis = 1)
      idxt = np.argsort(dist2)[:K]
      gamma_k = np.exp(-dist2[idxt])/np.exp(-dist2[idxt]).sum() #normalized set of distance
      y_hat[i] = gamma_k.dot(self.y[idxt])
      
    return y_hat

In [ ]:
knn = KNNRegressor()

In [ ]:
knn.fit(X_train,y_train)

In [ ]:
y_hat = knn.predict(X_validate,100,epsilon = 1e-3) #X1 = Test set (effectively)
#y_hat2 = knn.predict(X1,30, epsilon = 1e-3) #Larger K smoother curve smaller K risk overfitting
# plt.figure(figsize=(12, 6))
# plt.plot(X_validate,y_hat, color = "#FF0070")
# plt.title('Location versus Price')
# plt.xlim([10.0, 60.0])
# plt.ylim([-112,-110])
#plt.plot(X_train,y_hat, color = "#FF0070")
#plt.plot(X_train,y_hat2, color = "#00FF00")

In [ ]:
def OLS(Y,Y_hat,N):
  return (1/(2*N))*np.sum((Y-Y_hat)**2)
def R2(Y,Y_hat):
  return (1 - (np.sum((Y-Y_hat)**2)/np.sum((Y-np.mean(Y))**2)))

In [ ]:
R2(y_validate, y_hat)

In [ ]:
#Columns with missing values
nan_col = []
for col in df2.head():
    nan = df2[col].isnull().values.any()
    if nan == True:
        nan_col.append(col)
print(nan_col)

In [ ]:
#SIMPLE LINEAR REGRESSION
class SimpleLinearReg():
    
    def fit(self,X,y):
        self.y=y
        self.d=np.mean(X**2)-np.mean(X)**2
        self.w0=(np.mean(y)*np.mean(X**2)-np.mean(X)*np.mean(X*y))/self.d
        #self.w1=np.mean(X*y)-np.mean(X)*np.mean(y)

        self.w1=(np.mean(X*y)-np.mean(X)*np.mean(y))/(np.mean(X**2)-np.mean(X)**2)

    
    def predict(self,X,show=0):
        y_hat=self.w0+self.w1*X
        if show:
            plt.figure()
            plt.scatter(X,self.y,s=8)
            plt.plot(X,y_hat,color='#FF0070')
            
        return y_hat

In [ ]:
class LinearRegression():
    def fit(self,X,y):
        self.w=np.linalg.solve(X.T@X, X.T@y)
    
    def predict(self,X):
        return np.matmul(X,self.w)

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X_train,y_train)

In [ ]:
y_hat = lr.predict(X_validate)

In [ ]:
def OLS(Y,Y_hat,N):
  return (1/(2*N))*np.sum((Y-Y_hat)**2)
def R2(Y,Y_hat):
  return (1 - (np.sum((Y-Y_hat)**2)/np.sum((Y-np.mean(Y))**2)))

In [ ]:
R2(y_validate, y_hat)

In [ ]:
class OURLinearRegression():
    
    def fit(self, X, y, eta = 1e-3, epochs = 1e3, show_curve = False, lambd = 0, p = 1):
        epochs = int(epochs)
        N, D = X.shape
        Y = y
        
        self.W = np.random.randn(D)
        
        J = np.zeros(epochs)
        
        for epoch in range(epochs):
            Y_hat = self.predict(X)
            J[epoch] = OLS(Y, Y_hat, N)  #(lambd/p*N)*np.linalg.norm(self.W, ord=p, keepdims=True)
            self.W -= eta*(1/N)*(X.T@(Y_hat - Y)) # (1/N)*(lambd*np.abs(self.W)**(p-1)*np.sign(self.W)))
                    
         
        if show_curve:
            plt.figure()
            plt.plot(J)
            plt.xlabel("epochs")
            plt.ylabel("$\mathcal{J}$")
            plt.title("Training Curve")
            plt.show()        
    def predict(self, X):
        return X @ self.W

In [ ]:
OLR = OURLinearRegression()

In [ ]:
OLR.fit(X_test, y_test, epochs = 1e3, eta = 1e-8, show_curve = False)

In [ ]:
y_hat = OLR.predict(X_validate) #X1 = Test set (effectively)

In [ ]:
R2(y_validate, y_hat)